/*
 * You should write your CSS in this file.  Don't forget to add your name and
 * @oregonstate.edu email address below.
 *
 * name:Mishary Alotaibi
 * email:alotaimi@oregonstate.edu
 */
/* top part of page */
header{
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    width: 100%;
    height: 150px;
}
.header-image-container img{
    width: 150px;
    height: 150px;
}
.content{
    position: relative;
    right: 10px;
    width: 100%;
}
.site-title{
    position: relative;
    left: 155px;
    bottom: 140px;
    padding: 10px;
    width: 85%;
    margin-left: 5px;
    margin: 1px;
}
.site-title a{
    font-weight: normal;
    font-family: 'Roboto Slab';
    font-size: 2.75em;
    color: white;
    text-decoration: none;
}
/* left part of the page */
aside{
    font-family: 'Roboto';
    border: solid rgb(230, 228, 228) 1px;
    border-radius: 4px;
    float: left;
    width: 270px;
    height: 450px;
    background-color: #f6f6f6;
    margin-left: 3px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 10px;
    top: 155px;
}
.filter-container h2{
    position: relative;
    left: 20px;
}
.filter-input-container >label{
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
}
.filter-input-container{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    left: 15px;
}
.filter-input-element{
    display: inline;
    width: 50%;
}
.filter-input-element #filter-text{
    width: 150px;
}
.filter-input-element #filter-min-price{
    position: relative;
    right: 7px;
    width: 65px;
}
.filter-input-element #filter-max-price{
    position: relative;
    right: 7px;
    margin-left: 9px;
    width: 65px;
}
#filter-city{
    width: 160px;
}
#filter-condition{
    position: relative;
    left: 4px;
    border-color:  rgb(218, 215, 215);
    border-radius: 4px;
    width: 175px;
}
#filter-update-button{
    position: relative;
    font-weight: bold;
    left: 18px;
    top: 10px;
    color: white;
    font: 25px 'Roboto';
    background-color: black;
    width: 208px;
    height: 60px;
    border: solid 1px black;
    border-radius: 8px;
    cursor: pointer;
}
#filter-update-button:hover{
    background-color: antiquewhite;
    color: black;
}
/* right part of page */
#posts{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    top: 145px;
}
.post{
    float: bottom;
    width: 20%;
    border-radius: 4px;
    border: solid 1px rgb(230, 228, 228);
    height: 310px;
    width: 400px;
    margin: 10px;
}
.post-contents{
    padding: 15px;
}
.post-contents .post-image-container img{
    position: relative;
    bottom: 15px;
    width: 100%;
    height: 15vw;
    max-height: 250px;
    object-fit: scale-down;
}
.post-info-container{
    position: relative;
    left: 5px;
    font-family: 'Roboto';
}
.post-info-container .post-title{
    text-decoration: none;
    color: rgb(255, 157, 0);
    margin-top: 2px;
}
.post-price{
    padding: 1px;
    background-color: #ececec;
    border: solid 0.5px #c3c3c3;
    border-radius: 4px;
    font-size: 0.9em;
    margin-top: 2px;
}
.post-title:hover{
    text-decoration: underline;
}
/* button on the right */
#sell-something-button{
    color: white;
    font-size: 2.15em;
    position: fixed; 
    bottom: 25px;
    right: 25px;
    background-color: rgb(221, 109, 4);
    border-radius: 100%;
    /* border-color:rgb(255, 255, 255); */
    border: 0.005px solid rgb(221, 109, 4);
    height: 60px;
    width: 60px;
    box-shadow: 5px 5px 5px rgb(199, 199, 199);
}
#sell-something-button:hover{
    cursor: pointer;
    transform: scale(1.1) perspective(1px)
}